<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Novo Livro</title>
</head>
<body>
    <h1>Adicionar Novo Livro</h1>
    <form method="post">
        <p>Título: <input type="text" name="titulo" required></p>
        <p>Autor: <input type="text" name="autor" required></p>
        <p>Descrição:</p>
        <p><textarea name="descricao" rows="4" cols="40" required></textarea></p>
        <button type="submit">Salvar</button>
    </form>
    <a href="/">← Voltar</a>
</body>
</html>
